  <h1 class="center margin1">ユーザー詳細</h1>
   <div class="container">
    <div class="row">
     <div class="col-lg-4 col-md-6 col-sm-6 center">
      <div class="margin1 smartphone"><%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image.png" %></div>
      <div class="margin2"><%= link_to "編集", person_edit_path, class: 'btn btn-success various-width' %></div>
      <div class="margin2"><%= link_to "強制退会", user_path, method: :delete, data: { confirm: '本当に退会させますか？データは残りますので復元することも可能です。' }, class: "pull-danger", class: "btn btn-danger btn-xs various-width" %></div>
      <div class="margin2"><%= link_to 'ユーザー一覧へ戻る', admins_people_path, class: 'btn btn-primary various-width' %></div>
     </div>
      <div class="col-lg-8 col-md-6 col-sm-6 ">
       <div class="font3">電話番号</div>
        <div class="font1 show-border"><%= @user.tell %></div>
       <div class="font3">名前</div>
        <div class="font1 show-border"><%= @user.name %></div>
       <div class="font3">キャプテン</div>
        <div class="font1 show-border"><%= @user.captain_name %></div>
       <div class="font3">チーム名</div>
        <div class="font1 show-border"><%= @user.team_name %></div>
       <% if @user.team_detail.present? %>
        <div class="font3">男性人数</div>
         <div class="font1 show-border"><%= @team.male %></div>
        <div class="font3">女性人数</div>
         <div class="font1 show-border"><%= @team.female %></div>
        <div class="font3">経験者人数</div>
         <div class="font1 show-border"><%= @team.experience %></div>
        <div class="font3">初心者人数</div>
         <div class="font1 show-border"><%= @team.beginner %></div>
        <div class="font3">紹介文</div>
         <div class="font1 show-border"><%= @team.introduction %></div>
        <div class="font3">チームレベル</div>
         <div class="font1 show-border"><%= @team.team_level %></div>
        <div class="font3">活動地域</div>
         <div class="font1 show-border"><%= @team.active_area %></div>
        <div class="font3">活動時間</div>
         <div class="font1 show-border"><%= @team.active_time %></div>
        <% end %>
       </div>
      </div>
     </div>
