  <h1 class="center margin1">ユーザー検索結果</h1>
  <div class="container">
   <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-8">
     <table class="table">
      <thead>
       <tr>
       <th></th>
       <th>名前</th>
       <th>電話番号</th>
       <th>パス</th>
      </tr>
       </thead>
        <tbody>
         <% @seek.each do |seek| %>
          <tr>
           <td><%= attachment_image_tag seek, :image, :fill, 63, 63, fallback: "no_image2.png" %></td>
           <td><%= link_to seek.name, person_path(seek) %></td>
           <td><%= seek.tell %></td>
           <td><%= seek.password %></td>
          </tr>
         <% end %>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   <div class="center margin2"><%= link_to 'ユーザー一覧へ戻る', admins_people_path %></div>
