  <div class="frame">
   <h2 class="center margin1">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div class="container">
      <div class="row justify-content-center">
       <div class="col-md-8">
        <div class="field form-group">
         <h4 class="center margin2 font4">電話番号</h4>
          <%= f.text_field :tell, autofocus: true, autocomplete: "tell", class: 'form-control' %>
         </div>
        <div class="field form-group">
         <h4 class="center margin2 font4">パスワード</h4>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
         </div>
        <% if devise_mapping.rememberable? %>
         <div class="field">
         <%= f.check_box :remember_me %>
         <%= f.label :remember_me %>
        </div>
       <% end %>
      <div class="actions">
       <%= f.submit "ログイン", class: 'btn btn-primary various-width' %>
      </div>
     <% end %>
     <div class="margin1"><%= link_to "会員登録がまだの方", new_registration_path(resource_name) %><br /></div>
     <div class="margin1"><%= link_to "パスワードを忘れたらお問い合わせからお願いします", contacts_new_path %></div>
   </div>
  </div>
 </div>
</div>
