 <h2 class="center margin1">管理者登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
     <div class="row justify-content-center">
      <div class="col-md-8">
       <div class="field">
        <h4 class="font4">メールアドレス</h4>
         <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
         </div>
        </div>
       <div class="field">
        <h4 class="font4">パスワード</h4>
         <div class="form-group">
          <% if @minimum_password_length %>
           <em class="font4"><%= @minimum_password_length %> 文字以上</em>
          <% end %><br />
           <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>
         </div>
        <div class="field">
         <h4 class="font4">パスワード再確認</h4>
          <div class="form-group">
           <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
         </div>
        <div class="actions">
         <%= f.submit "Sign up", class: 'btn btn-primary various-width margin2' %>
        </div>
       <% end %>
        <%= render "admins/shared/links" %>
       </div>
      </div>
     </div>
