<h1>ユーザー編集</h1>

<%= form_for(@user) do |f| %>
<h4>名前</h4>
<%= f.text_field :name %>
<h4>キャプテン</h4>
<%= f.text_field :captain_name %>
<h4>チーム名</h4>
<%= f.text_field :team_name %>
<h4>電話番号</h4>
<%= f.text_field :tell %>

<%= f.submit '更新する' %>
<% end %>
