   <section>
    <div class="main1">
     <h2 class="center margin1">チーム情報</h2>
      <div class="contain">
       <% @search.each do |search| %>
        <div class="flex double-frame-use">
         <div class="item1"><%= attachment_image_tag search.user, :image, :fill, 300, 300, fallback: "no_image.png" %></div>
         <div class="item2 center font1"><%= search.user.team_name %></div>
         <% if user_signed_in? %>
         <div class="center"><%= link_to '詳細', user_path(search.user) %></div>
         <% elsif admin_signed_in? %>
         <div class="center"><%= link_to '管理者画面で詳細へ', person_path(search.user) %></div>
         <% else %>
         <div class="center"><%= link_to '詳細', user_session_path %></div>
        <% end %>
        </div>
       <% end %>
      </div>
     </div>
    </section>
    <div class="center"><%= link_to '検索に戻る', users_path %></div>
