
<h1>春木翔</h1>
     <!-- サインアップ、サインイン時 -->
     <% if flash[:entry] %>
       <p><%= flash[:entry] %></p>
      <% end %>
      <!-- お問い合わせ送信後 -->
      <% if flash[:contactsuccess] %>
      <p><%= flash[:contactsuccess] %></p>
      <% end %>
      <!-- 退会後 -->
      <% if flash[:unsubscribe] %>
      <p><%= flash[:unsubscribe] %></p>
      <% end %>


<%= link_to 'user一覧', users_path %>

<%= link_to '募集する', new_post_path %>
<%= link_to '掲示板をみる', posts_path %>
<%= link_to 'お問い合わせ', contacts_new_path %>
<%= link_to '利用規約', home_terms_path %>
<%= link_to 'ご利用にあたっての注意点', home_caution_path %>
<%= link_to 'プライバシーポリシー', home_privacy_path %>
<%= link_to 'トークルーム一覧', rooms_path %>
