  <h2 class="center margin1">ログイン</h2>
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="field">
        <h4 class="font4">メールアドレス</h4>
         <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
         </div>
        </div>
       <div class="field">
        <h4 class="font4">パスワード</h4>
         <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
         </div>
        </div>
       <% if devise_mapping.rememberable? %>
        <div class="field">
         <%= f.check_box :remember_me, class: 'margin2' %>
         <%= f.label :remember_me %>
        </div>
       <% end %>
      <div class="actions">
       <%= f.submit "ログイン", class: 'btn btn-primary various-width' %>
      </div>
     <% end %>
    <%= render "admins/shared/links" %>
   </div>
  </div>
 </div>
