  <h1 class="center margin1">チーム情報登録</h1>
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-8">
      <p class="font4">※空欄でも構いません</p>
      <p class="font4">※後からでも変更できます。</p>
       <%= form_for @team,:url => {:action => :create}  do |team| %>
        <h4 class="font4">経験者人数</h4>
         <div class="form-group">
          <%= team.number_field :experience, class: 'form-control' %>
         </div>
        <h4 class="font4">初心者人数</h4>
         <div class="form-group">
          <%= team.number_field :beginner, class: 'form-control' %>
         </div>
        <h4 class="font4">男性</h4>
         <div class="form-group">
          <%= team.number_field :male, class: 'form-control' %>
         </div>
        <h4 class="font4">女性</h4>
         <div class="form-group">
          <%= team.number_field :female, class: 'form-control' %>
         </div>
        <h4 class="font4">チーム紹介文</h4>
         <div class="form-group">
          <%= team.text_area :introduction, rows: "3", placeholder: "チーム詳細や特徴など自由に書いてください", class: 'form-control' %>
         </div>
        <h4 class="font4">チームレベル</h4>
         <div class="form-group various-select">
          <%= team.select :team_level, [["初級", "初級"], ["中級", "中級"],  ["上級", "上級"] ], :prompt => "選択してください" %>
         </div>
        <h4 class="font4">活動地域</h4>
         <div class="form-group various-select">
          <%= team.select :active_area, [["大阪", "大阪"], ["和歌山", "和歌山"],  ["奈良", "奈良"],  ["兵庫", "兵庫"],  ["京都", "京都"],  ["滋賀", "滋賀"] ], :prompt => "選択してください" %>
         </div>
        <h4 class="font4">活動時間</h4>
         <div class="form-group various-select">
          <%= team.select :active_time, [["朝", "朝"], ["昼", "昼"],  ["夕", "夕"],  ["夜", "夜"] ], :prompt => "選択してください" %>
         </div>
          <%= team.submit '登録する', class: 'btn btn-primary various-width' %>
         <% end %>
        </div>
       </div>
      </div>
