<!DOCTYPE html>
 <html lang="ja">
  <head>
   <title>Footsal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body>
      <!-- gem auto_session_timeout -->
      <% if user_signed_in? %>
      <div class="user_logged"></div>
      <%= auto_session_timeout_js %>
    <% end %>
     <header>
      <!-- navbar-expand-○でグローバルメニュー表示（なければハンバーガメニュー） -->
       <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-primary">
        <a href="/home" id="logo" class="navbar-brand"><img src="/images/footsal15.png" alt="foosal"></a>
         <!-- <button>~</button>でハンバーガメニュー作成。data-targetで指定したIDやクラスがハンバーガメニューとなる -->
          <button class="navbar-toggler" type="button" data-toggle="collapse"
           data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
         <% if user_signed_in? %>
          <ul class="nav navbar-nav ml-auto">
           <li class="nav-item active"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
           <li class="nav-item active"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
           <li class="nav-item active"><%= link_to "チーム一覧", users_path, class: "nav-link" %></li>
           <li class="nav-item active"><%= link_to "トークルーム", rooms_path, class: "nav-link" %>
             <% if @unreads == 0 %>
            <% else %>
            <!--Applicationhelper.rbに記載 -->
             <%= new_message_badge %>
            <% end %>
           </li>
           <li class="nav-item active"><%= link_to "掲示板", posts_path, class: "nav-link" %></li>
           <li class="nav-item active"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          </ul>
         <% elsif admin_signed_in? %>
          <ul class="nav navbar-nav ml-auto">
           <li class="nav-item"><%= link_to "管理ホーム", admins_path, class: "nav-link" %></li>
           <li class="nav-item"><%= link_to "ユーザー情報", admins_people_path, class: "nav-link" %></li>
           <li class="nav-item"><%= link_to "掲示板へ", posts_path, class: "nav-link" %></li>
           <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
          </ul>
         <% else %>
          <ul class="nav navbar-nav ml-auto">
           <li class="nav-item"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
           <li class="nav-item"><%= link_to "会員登録",new_user_registration_path, class: "nav-link" %></li>
           <li class="nav-item"><%= link_to "ログイン", user_session_path, class: "nav-link" %></li>
          </ul>
         <% end %>
        </div>
       </nav>
      </header>
       <div class="center">
        <h1 class="margin1">トーク</h1>
       </div>
        <div class="container">
         <div class="row justify-content-center">
          <div class="col-sm-8 col-md-8 col-lg-8 center row-room-index">
           <% @anotherEntries.each do |ae| %>
            <div class="block margin1">
             <%= link_to room_path(ae.room.id) do %>
              <div class="imageblock">
               <%= attachment_image_tag ae.user, :image, :fill, 63, 63, fallback: "no_image2.png", class: 'radius margin2' %>
              </div>
             <div class="talkblock">
              <p class="margin2"><%= ae.user.name %></p>
             <% end %>
              <% if ae.room.messages.present? %>
               <p class="font3"><%= ae.room.messages.last.content %></p>
                <% array = [] %>
                <!--各roomの未読数取得-->
                 <% ae.user.messages.each do |message| %>
                  <% if message.read_flg == 1 %>
                   <% total = message.read_flg %>
                    <% array << total %>
                   <% end %>
                  <% end %>
                 <% if array.sum == 0 %>
                 <% else %>
                  <div class="unread-room-num"><%= array.sum %></div>
                 <% end %>

              <% else %>
              <p class="font3">メッセージがありません</p>
             <% end %>
            </div>
           </div>
          <% end %>
         </div>
        </div>
       </div>
       <div class="copyright">
        <p>&copy; 2019 foosal</p>
       </div>
      </body>
     </html>
