     <div class="center">
       <%= @otherentry.user.name %>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-sm-8 col-sm-offset-8 col-lg-8 col-lg-offset-8">
           <% if @message.present? %>
            <% @messages.each do |m| %>
            <% if m.user == current_user %>
            <%= attachment_image_tag m.user, :image, :fill, 63, 63, fallback: "no_image2.png" %>
             <strong>
              <br><%= m.content %>
             </strong>
              <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
              <%= m.user.captain_name %>
              <% else %>
              <div class="talk-light">
                <%= attachment_image_tag m.user, :image, :fill, 63, 63, fallback: "no_image2.png" %>
              <strong>
               <br><%= m.content %>
              </strong>
               <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
               <%= m.user.captain_name %>
             </div>
              <% end %>
             <% end %>
            <% else %>
             <h3><p>メッセージはまだありません</p></h3>
            <% end %>
             <%= form_for @message, :url => { :controller => :messages, :action => :create } do |f| %>
              <%= f.text_field :content, placeholder: 'メッセージを入力してください', size: 70, row: 3 %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit '投稿する' %>
             <% end %>

         </div>
         <div class="col-sm-2 col-lg-2"></div>
       </div>
     </div>
