  <h1>掲示板投稿画面</h1>
   <%= form_for(@post) do |f| %>
  <h4>タイトル</h4>
   <%= f.text_field :title %>
  <h4>本文</h4>
   <%= f.text_area :body %>
  <h4>条件</h4>
   <%= f.select :conditions, [["予定を合わせて対戦", "予定を合わせて対戦"], ["いますぐ試合したい", "いますぐ試合したい"], ["わいわい試合したい", "わいわい試合したい"], ["真剣勝負!", "真剣勝負!"]] %>
   <%= f.submit '投稿' %>
  <% end %>
